body {
  background-color: lightblue;
}

h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  img-align: center;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
p {
  font-family: Times New Roman;
  font-size: 50px;
}